/* Feedbacks view styles */
.Feedback-Sider-Right {
    box-shadow: inset 2px 0 12px 0 rgba(28, 46, 61, .1);
}

.Feedback-ratingStar {
    margin-right: 5px;
    color: rgb(242, 181, 54);
    font-size: 16px !important;
}

.Feedback-Review-Published {
    background-color: rgba(203, 230, 207, 0.2);
}

.Feedback-displayed {
    color: #56C756;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
}

.Feedback-extra-nomargin 
.ant-list-vertical
.ant-list-item-extra {
    margin: 0 !important;
}

.Feedback-edit-wrap
.ant-input-suffix {
    right: 3px !important;
    top: 55% !important;
}

.Feedback-name-edit {
    color: #4A90E2;
    margin-left: 4px;
    cursor: pointer;
    visibility: hidden;
}
.Feedback-name-editbox {
    width: 99px;
    height: 30px;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    color: #1C2E3D;
    font-size: 14px;
    line-height: 16px;
}

.ant-list-item:hover
.Feedback-name-edit {
    visibility: visible ;
}

.Feedback-contentText {
}
